In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("finalised_dataset.csv")

In [3]:
crop_distribution = df['crop_names'].value_counts(normalize=True) * 100
rare_crop_types = crop_distribution[crop_distribution < 1]
crop_for_removal=crop_distribution[crop_distribution < 0.5]
mask = df['crop_names'].isin(crop_for_removal.index)
df1 = df[~mask]

In [4]:
df1 = df1.drop(df1[df1['production'].isnull()].index)
df1 = df1.drop(df1[df1['Yield'].isnull()].index)

In [5]:
df=df.drop('state_names',axis=1)

In [6]:
df = df1[df1['season_names'] != 'Autumn']

In [7]:
df = df[~df['district_names'].isin(['PALGHAR', 'MUMBAI'])]

In [8]:
df2 = df.loc[df['crop_year'] != 1997]

In [9]:
df=df2

In [10]:
df=df.drop(['state_names'],axis=1)
df

,Unnamed: 0,district_names,crop_year,season_names,crop_names,area,temperature,wind_speed,pressure,humidity,soil_type,N,P,K,production,Yield
19,125210,AHMEDNAGAR,1998,Kharif,Arhar/Tur,18800.0,20.692897,2.087618,1014.739862,21.949998,silty,38.250,38.250,38.250,9700.0,0.515957
20,125211,AHMEDNAGAR,1998,Kharif,Bajra,302400.0,20.988835,2.077557,1014.940241,20.615412,clay,0.000,26.832,0.000,243900.0,0.806548
21,125212,AHMEDNAGAR,1998,Kharif,Castor seed,400.0,20.831845,1.995049,1014.654889,21.513582,silt,10.240,26.624,26.624,100.0,0.250000
22,125213,AHMEDNAGAR,1998,Kharif,Cotton(lint),12100.0,21.721036,2.028015,1013.713074,20.732730,chalky,41.496,110.656,55.328,19900.0,1.644628
23,125214,AHMEDNAGAR,1998,Kharif,Groundnut,7100.0,20.124897,2.070208,1014.856644,21.395918,loamy,7.840,7.840,0.000,6200.0,0.873239
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12623,137814,YAVATMAL,2014,Rabi,Jowar,4000.0,21.635879,2.000060,1014.302213,20.060662,silty,7.840,7.840,0.000,3300.0,0.825000
12624,137815,YAVATMAL,2014,Rabi,Maize,1300.0,21.709611,2.053609,1015.803912,21.263478,silt,7.504,18.760,7.504,200.0,0.153846
12625,137816,YAVATMAL,2014,Rabi,Wheat,29100.0,21.851730,2.027476,1014.031903,20.059945,sandy,0.000,0.000,0.000,26800.0,0.920962
12626,137817,YAVATMAL,2014,Summer,Groundnut,9400.0,21.569380,2.004421,1013.989125,21.835158,chalky,2.896,3.620,0.000,11500.0,1.223404
12627,137818,YAVATMAL,2014,Whole Year,Sugarcane,8100.0,21.666723,2.008003,1015.081619,21.754799,loamy,3.150,0.000,0.000,553700.0,68.358025

In [11]:
df = df.drop('production', axis=1)
df=df.drop('area',axis=1)
df

,Unnamed: 0,district_names,crop_year,season_names,crop_names,temperature,wind_speed,pressure,humidity,soil_type,N,P,K,Yield
19,125210,AHMEDNAGAR,1998,Kharif,Arhar/Tur,20.692897,2.087618,1014.739862,21.949998,silty,38.250,38.250,38.250,0.515957
20,125211,AHMEDNAGAR,1998,Kharif,Bajra,20.988835,2.077557,1014.940241,20.615412,clay,0.000,26.832,0.000,0.806548
21,125212,AHMEDNAGAR,1998,Kharif,Castor seed,20.831845,1.995049,1014.654889,21.513582,silt,10.240,26.624,26.624,0.250000
22,125213,AHMEDNAGAR,1998,Kharif,Cotton(lint),21.721036,2.028015,1013.713074,20.732730,chalky,41.496,110.656,55.328,1.644628
23,125214,AHMEDNAGAR,1998,Kharif,Groundnut,20.124897,2.070208,1014.856644,21.395918,loamy,7.840,7.840,0.000,0.873239
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12623,137814,YAVATMAL,2014,Rabi,Jowar,21.635879,2.000060,1014.302213,20.060662,silty,7.840,7.840,0.000,0.825000
12624,137815,YAVATMAL,2014,Rabi,Maize,21.709611,2.053609,1015.803912,21.263478,silt,7.504,18.760,7.504,0.153846
12625,137816,YAVATMAL,2014,Rabi,Wheat,21.851730,2.027476,1014.031903,20.059945,sandy,0.000,0.000,0.000,0.920962
12626,137817,YAVATMAL,2014,Summer,Groundnut,21.569380,2.004421,1013.989125,21.835158,chalky,2.896,3.620,0.000,1.223404
12627,137818,YAVATMAL,2014,Whole Year,Sugarcane,21.666723,2.008003,1015.081619,21.754799,loamy,3.150,0.000,0.000,68.358025

In [12]:
numeric_cols = ['crop_year', 'temperature', 'wind_speed', 'pressure', 'humidity', 'N', 'P', 'K', 'Yield']
categorical_cols = ['district_names', 'season_names', 'crop_names', 'soil_type']
ordered_cols = numeric_cols + categorical_cols
df = df[ordered_cols]
df

,crop_year,temperature,wind_speed,pressure,humidity,N,P,K,Yield,district_names,season_names,crop_names,soil_type
19,1998,20.692897,2.087618,1014.739862,21.949998,38.250,38.250,38.250,0.515957,AHMEDNAGAR,Kharif,Arhar/Tur,silty
20,1998,20.988835,2.077557,1014.940241,20.615412,0.000,26.832,0.000,0.806548,AHMEDNAGAR,Kharif,Bajra,clay
21,1998,20.831845,1.995049,1014.654889,21.513582,10.240,26.624,26.624,0.250000,AHMEDNAGAR,Kharif,Castor seed,silt
22,1998,21.721036,2.028015,1013.713074,20.732730,41.496,110.656,55.328,1.644628,AHMEDNAGAR,Kharif,Cotton(lint),chalky
23,1998,20.124897,2.070208,1014.856644,21.395918,7.840,7.840,0.000,0.873239,AHMEDNAGAR,Kharif,Groundnut,loamy
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12623,2014,21.635879,2.000060,1014.302213,20.060662,7.840,7.840,0.000,0.825000,YAVATMAL,Rabi,Jowar,silty
12624,2014,21.709611,2.053609,1015.803912,21.263478,7.504,18.760,7.504,0.153846,YAVATMAL,Rabi,Maize,silt
12625,2014,21.851730,2.027476,1014.031903,20.059945,0.000,0.000,0.000,0.920962,YAVATMAL,Rabi,Wheat,sandy
12626,2014,21.569380,2.004421,1013.989125,21.835158,2.896,3.620,0.000,1.223404,YAVATMAL,Summer,Groundnut,chalky
12627,2014,21.666723,2.008003,1015.081619,21.754799,3.150,0.000,0.000,68.358025,YAVATMAL,Whole Year,Sugarcane,loamy

In [13]:
dfx=df
dfx=df.drop('district_names',axis=1)
dfx=dfx.drop('season_names',axis=1)
dfx=dfx.drop('soil_type',axis=1)

In [14]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

# Encode the labels in the specified column
dfx['crop_names'] = encoder.fit_transform(dfx['crop_names'])

In [15]:
dfx.head()

,crop_year,temperature,wind_speed,pressure,humidity,N,P,K,Yield,crop_names
19,1998,20.692897,2.087618,1014.739862,21.949998,38.250,38.250,38.250,0.515957,0
20,1998,20.988835,2.077557,1014.940241,20.615412,0.000,26.832,0.000,0.806548,1
21,1998,20.831845,1.995049,1014.654889,21.513582,10.240,26.624,26.624,0.250000,2
22,1998,21.721036,2.028015,1013.713074,20.732730,41.496,110.656,55.328,1.644628,3
23,1998,20.124897,2.070208,1014.856644,21.395918,7.840,7.840,0.000,0.873239,5

In [16]:
from sklearn.model_selection import train_test_split
y = dfx['Yield']
X =dfx.drop('Yield', axis = 1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)
'''
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
'''
print(X_train)
print(X_test)

from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(random_state=42, n_estimators=100)
regr.fit(X_train, y_train)
y_pred = regr.predict(X_test)

from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import r2_score

print('MSE =', mse(y_test, y_pred))
print('MAE =', mae(y_test, y_pred))
print('R2 Score =', r2_score(y_test, y_pred))

       crop_year  temperature  wind_speed     pressure   humidity       N  \
1117        2008    21.107864    2.054299  1014.256804  21.042930  38.250
10761       2001    20.197860    2.071584  1014.568642  20.988866  36.840
39          1998    20.744298    2.109696  1013.373847  21.660464   8.008
5711        2013    20.769239    2.038977  1015.943778  20.232043  35.742
10041       2007    20.117319    2.107313  1014.467458  21.021877   0.975
...          ...          ...         ...          ...        ...     ...
12003       2000    20.062137    2.049368  1015.054214  21.414288   1.148
5529        2005    20.868505    2.024252  1013.842066  20.075887   0.000
5733        2014    20.094658    2.078418  1014.428667  20.532091  22.572
932         2000    20.247236    2.027539  1013.893614  21.079273   0.000
7719        2007    20.636577    2.050404  1014.342925  21.014976  38.250

            P       K  crop_names
1117   38.250  38.250          16
10761  98.240  49.120          19
39      8.008   0.000           7
5711    0.000   0.000          16
10041   0.975   0.975           9
...       ...     ...         ...
12003   1.148   0.000           4
5529    0.000   0.000           5
5733   60.192  30.096           5
932     0.000   0.000          18
7719   38.250  38.250          23

[8311 rows x 9 columns]
       crop_year  temperature  wind_speed     pressure   humidity       N  \
5886        2002    20.245419    1.998081  1013.941730  21.985788  35.742
6388        2004    20.836515    1.999833  1013.769732  20.913081   1.288
10050       2007    21.811124    1.992856  1013.523947  21.233853   2.100
2650        2005    20.412039    2.029825  1013.811105  21.066133   0.000
2338        2007    20.779489    2.001275  1015.703826  21.909339   7.992
...          ...          ...         ...          ...        ...     ...
5839        2000    20.621370    1.999572  1015.408452  22.068617  40.908
12352       2000    20.315063    2.078862  1013.310155  21.275827   7.656
1188        2011    21.768501    1.979615  1015.075626  20.658487   1.775
8611        2006    21.414545    2.029997  1013.634233  21.566026   0.000
9747        2011    20.938609    2.082013  1013.847997  20.898523   2.650

            P       K  crop_names
5886    0.000   0.000           4
6388    3.220   1.288          22
10050   0.000   0.000           8
2650    0.000   0.000          22
2338   20.424   0.000          23
...       ...     ...         ...
5839    0.000   0.000          22
12352  20.416  10.208          22
1188    0.000   0.000          21
8611   28.048   0.000           2
9747    0.000   0.000          16

[3563 rows x 9 columns]
MSE = 12.050618273109173
MAE = 0.8194159856502555
R2 Score = 0.9418647582630808

In [17]:
def prepare_user_input(user_data):

  columns = ['crop_year','temperature','wind_speed','pressure','humidity','N','P','K','crop_names']
  user_df = pd.DataFrame(user_data, columns=columns[:-1], index=[0])
  # user_df = pd.DataFrame(user_data, columns=columns[:-1])  # Exclude crop_names

  le = LabelEncoder()
  user_df['crop_names'] = le.fit_transform([user_data['crop_names']])
  return user_df

In [31]:
user_input = {
  'crop_year': 2003,
  'temperature': 100.5,
  'wind_speed': 70,
  'pressure': 167,
  'humidity': 67,
  'N': 10,
  'P': 9,
  'K': 10,
  'crop_names': 'Jowar' 
}

user_df = prepare_user_input(user_input)
prediction = regr.predict(user_df)[0]  # Assuming model predicts a single value

print("Predicted yield:", prediction)

Predicted yield: 0.707011370215065